/*
Theme Name: Maison Child
Theme URI: http://maison.edge-themes.com
Description: A child theme of Maison Theme
Author: Edge Themes
Author URI: http://themeforest.net/user/edge-themes
Version: 1.0.0
Text Domain: maison
Template: maison
*/


@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.testimonial-location .edgtf-testimonial-text-holder {
    max-width: 80%;
    text-align: left;
    padding: 0 30px;
    box-sizing: border-box;
}

.location-portfolio .btn-pink {
    font-size: 14px;
}

.location-portfolio .edgtf-st-title:first-letter {
    text-transform: capitalize;
}

.vc_row.location-slider-portfolio {
    padding-bottom: 100px !important;
}

.location-portfolio .edgtf-st-title {
    text-transform: lowercase;
}

#menu-location-menu {
    column-width: 100px;
}

.location-slider-portfolio .edgtf-portfolio-slider-holder {
	width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

.text-not-caps * {
 text-transform: none !important;	
}

.services-location .edgtf-iwt .edgtf-iwt-title {
    font-size: 20px;
    line-height: 27px;
}

.location-portfolio .edgtf-pli-text-holder * {
    color: #333 !important;
}

.location-portfolio .edgtf-portfolio-list-holder article .edgtf-pli-link {
    cursor: default !important;
}

.location-portfolio .edgtf-pli-text-holder {
    opacity: 1 !important;
    background-color: transparent !important;
}

.edgtf-fixed-wrapper.fixed {
    background: #fff8;
    height: 73px;
}
h1, h2, h3, h4, h5 {font-family: 'Arvo', serif; font-weight: normal;}
.page-template-template-no-header-no-footer h1, .page-template-template-no-header-no-footer h2,.page-template-template-no-header-no-footer h3,.page-template-template-no-header-no-footer h4,.page-template-template-no-header-no-footer h5, .page-template-template-no-header-with-footer h1, .page-template-template-no-header-with-footer h2,.page-template-template-no-header-with-footer h3,.page-template-template-no-header-with-footer h4,.page-template-template-no-header-with-footer h5 {font-family: 'Open sans', serif !important; font-weight: normal; letter-spacing: 0;}

.single .edgtf-content {
    margin-top: 0 !important;}

.page-id-11689 .edgtf-content {
    margin-top: 0 !important;
}
.background-space {
    height: 600px;
}
.edgtf-title-holder .edgtf-page-title {
    color: #929191 !important;
}
.edgtf-title.edgtf-title-image-not-responsive .edgtf-title-image {
    display: none !important;
}
.edgtf-title-holder .edgtf-subtitle {
    display: none !important;
}
.edgtf-btn {
    display: inline-block;
    margin: 10px !important;

}
.title1 {
    color: #5a245a !important;
    font-size: 18px;
}
.text-black {
    color: #333 !important;
}
.bullet-number {
    padding-left: 60px;
    position: relative;
    min-height: 52px;
    font-size: 18px;
}
.bullet-number span {
    font-size: 41px;
    font-weight: bold;
    color: #cb0044;
    position: absolute;
    left: 0;
    top: 4px;
}
ol.blog-list {
    margin-left: 20px;
}
ol.blog-list>li>ul>li {
    font-size: 16px;
    list-style: none;
    padding-left: 20px;
}

ol.blog-list>li {
    font-size: 16px;
    margin: 10px 0;
}

ol.blog-list>li>ul>li:before {
    content: "â—";
    position: absolute;
    left: 0;
}

ol.blog-list>li>ul>li {
    font-size: 14px;
    list-style: none;
    padding-left: 20px;
    position: relative;
    line-height: 27px;
}
ol.blog-list>li>ul>li>ol {
    margin: 0 0 25px 25px;
}
.wpb_content_element.bullet-number {margin-bottom: 20px !important;}
.btn-white {
    background-color: #ffffff;
    color: #585858!important;
    padding: 10px 20px;
}

.edgtf-testimonial-image {
    max-width: 150px !important;
}
.edgtf-drop-down .second .inner ul li a {
    padding: 5px 25px !important;
}
#edgtf-back-to-top {
	bottom: 50px !important;}
.text-overlay {
	color: #fff;
}
#mobile-widget {display:none;}
.text-overlay a {
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
}
.text-grey{color: #929191;}
.text-blue {color: #00c9c9;}
.text-white {color: #fff !important;}
.text-pink, .text-pink i {color: rgb(202, 0, 67) !important;}
.text-overlay a:hover {
	background-color: #ca0043;
	color: #fff;
	padding: 10px 20px;
}
.single .edgtf-title {display: none;}
.edgtf-portfolio-list-holder.edgtf-pl-masonry.edgtf-pl-images-fixed article .edgtf-pl-item-inner {height: auto !important;}
.website-portfolio .vc_gitem-post-data-source-post_excerpt, .website-portfolio .vc_btn3-container {
	display: none;
}
.website-portfolio .vc_gitem-zone.vc_gitem-zone-c {
	display: none;
}
.website-portfolio .vc_gitem-zone {background-color: transparent !important;}
.website-portfolio h4 {
	font-size: 20px;
	font-weight: 300;
}
.slider-subtitle {
    font-size: 22px !important;
line-height: 36px !important;
	margin-bottom: 15px !important;
}

.bw-overlay>.wpb_column>.vc_column-inner>.wpb_wrapper {
	background-color: rgba(0, 0, 0, 0.5);
}
.bw-overlay>.wpb_column>.vc_column-inner>.wpb_wrapper.light {
	background-color: rgba(0, 0, 0, 0.2);
}

.confetti-sep {overflow: visible !important;}
.confetti-sep:before {
	content: '';
	background: url(images/confetti_sep.png) no-repeat;
	background-size: 40px;
	z-index: 9;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 48%;
	top: -21px;
	display: block;
}

.edgtf-header-widget-menu-area a {
	display: inline-block;
	margin: 0 10px;
}

.edgtf-header-widget-menu-area a {
	display: table-cell;
}
.edgtf-portfolio-list-holder.edgtf-pl-standard-shader article .edgtf-pli-image:after {background-color: rgba(203, 0, 67, 0.2) !important;}
.btn-big-pink {    color: #fff;
    background: #cb0044;
    padding: 15px;
    display: block;
    font-size: 18px;
    border: 2px solid #cb0044;
    margin: 0 15px;}

.btn-big-pink:hover {background: transparent;
border: 2px solid #cb0044;
color: #cb0044;}

.float-left{float: left;}
.float-right{float: right;}
.btn-pink {
color: #ffffff; background-color: #ca0043; border-color: #ca0043; font-size: 18px; padding: 16px 31px; border-width: 1px; margin: 0px; letter-spacing: 1px; display: inline-block; font-weight:600;
}
.btn-pink:hover {
    color: #fff;
}
.wpcf7-form-control.wpcf7-text:focus, .wpcf7-form-control.wpcf7-textarea:focus {background-color: #fff !important;}
ul#menu-footer-menu li:last-child {
    border: 1px solid #fff;
    background: #fff;
    margin: 10px;
    padding: 10px 30px;
    display: inline-block;
}
.edgtf-portfolio-list-holder.edgtf-pl-standard-shader .edgtf-pli-text-holder {text-align: center !important;}
.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-heading {text-align: center;}
.quiz-button-blog {text-align: center;    padding: 80px 10px;
	background-color: #f6f6f6;}

h6.edgtf-widget-title {
	color: #8a8a8a !important;
	border-bottom: 1px solid #ca0043;
	padding: 0 0 9px 0;
	text-align: center;
}

.edgtf-page-footer .edgtf-footer-top-holder .edgtf-column-content {
	padding: 0 30px !important;
	text-align: center;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #ca0043;
    color: #fff;
}
.posts_slider-testimonials .slide-image {
	float: left;
	width: 150px;
	margin-right: 20px;
}
.posts_slider-testimonials 	.slide-content {
	display: inline;
	vertical-align: middle;
	display: table-cell;
}

.slide-author {
	text-align: center;
	margin-top: 20px;
	color: #ca0043;
}

.slide-title {
	text-align: center;
	color: #ca0043;
	font-weight: bold;
}
div.wpcf7-validation-errors {
    border: 2px solid #dc1314;
    color: #f6f6f6;
}
.flex-direction-nav a:before {
	color:  #ca0043;
line-height: 100%;}

.flex-direction-nav a{
	height: 37px;
}

.flexslider{
	background: transparent;
	border: transparent;
}

.edgtf-post-info-top {
	display: none !important;
}

.vc_row.wpb_row.vc_row-fluid.overlay-btn {
	position: relative;
	text-align: center;
	overflow: visible;
}
.overlay-btn {
	margin-bottom: -36px;
position: absolute;
left: 0;
right: 0;
text-align: center;
}
.text-big {
    font-size: 150%;
}
.text-big2 {
    font-size: 50px;
line-height: 55px;
}

.title1 {
	font-family: 'Open sans', serif; font-size: 19px;}
.flexslider .slides {background-color: transparent;	}

.flex-control-nav {
	bottom: -23px;
}
.page-template-noheader-nofooter-template header, .page-template-noheader-nofooter-template #mk-footer, .page-template-noheader-nofooter-template footer {
    display: none;
}

.page-template-template-no-header-with-footer .edgtf-content {margin-top: 0 !important;}
.page-template-template-no-header-with-footer blockquote {
    text-transform: unset;
}

ul.slides>li>div {display: table;}

.edgtf-page-footer{
	z-index: inherit !important;
}
.edgtf-page-content-holder .background-img-left {
    background-position: left !important;
}
.btn-outline-pink, .btn-outline-pink-no-hover,.btn-outline-pink-no-hover:hover  {
color: rgb(202, 0, 67) !important;
    border-color: rgb(202, 0, 67) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 2px solid;
    padding: 10px;
    font-size: 12px !important;
    display: inline-block;
    letter-spacing: 2px;
}


.btn-outline-pink:hover, .btn-outline-white:hover {
    color: #fff!important;
        border-color: rgb(202, 0, 67) !important;
    background-color: rgb(202, 0, 67) !important;
}

 .btn-outline-white, .btn-outline-white-no-hover,.btn-outline-white-no-hover:hover  {
color: #fff !important;
    border-color: #fff !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 2px solid;
    padding: 10px;
    font-size: 12px !important;
    display: inline-block;
    letter-spacing: 2px;
}
div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
    color: #ec0552;
}
.nav-onesite a {    padding: 15px; color: #fff;}
.text-pink {color: #cb0044;}


.edgtf-grid-col-12.checkbox-contact .wpcf7-form-control-wrap {
    font-size: 12px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px 21px;
    margin-bottom: 15px;
    display: block;
}

footer .widget #wp-calendar caption, footer .widget a {
	color: #8a8a8a !important;
}

footer .widget a:hover {
	color: #ca0043 !important;
}

footer .edgtf-footer-bottom-holder .widget {width: 100%;}

.widget.widget_text img.footer-logo {
	display: inline-block !important;
	vertical-align: middle;
	margin-right: 20px;
}
footer .edgtf-footer-bottom-holder .widget, footer .edgtf-footer-bottom-holder .widget a, footer .edgtf-footer-bottom-holder .widget a:hover  {
	color: #fff !important;
}
.edgtf-page-footer p {
    font-size: 12px;
}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-grid {
	padding: 70px 0 70px !important;
}

.edgtf-page-header .edgtf-menu-area {background-color: transparent !important; }

.ssl-info input[type="text"], .ssl-info input[type="tel"], .ssl-info input[type="email"], .ssl-info textarea {
    max-width: 300px;
    background: rgba(255, 255, 255, 0.02);
    color: #fff !important;
    font-size: 14px;
    max-height: 40px;
}
.ssl-info textarea { max-height: 60px;}
a.vc_gitem-link.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-flat.vc_btn3-color-juicy-pink {
	background-color: transparent;
	color: #ca0043 ;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.edgtf-row-grid-section-wrapper {
    background-size: cover !important;
}
.vc_general.vc_btn3:focus, .vc_general.vc_btn3:hover {border:none;}
.vc_gitem-col h4 {
	font-size: 16px;
	font-family: Poppins,sans-serif;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 20px;
	text-transform: uppercase;
}

.vc_grid-item .vc_gitem-zone.vc_gitem-zone-c {
	background-color: transparent !important;
}
.text-bigger {font-size: 150%;}

.page-template-template-no-header-with-footer header,.page-template-template-no-header-with-footer .edgtf-title, .page-template-template-no-header-no-footer header,.page-template-template-no-header-no-footer .edgtf-title, .page-template-template-no-header-no-footer .edgtf-page-footer,.page-template-template-no-header-no-footer .overlay-btn {
    display: none;
}
.edgtf-testimonial-title.entry-title {word-wrap: break-word;}
.imgtxt-mobvw {position: relative;}


.location-factors span.btn-pink {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px !important;
    text-transform: none;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 55px;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 15px 10px;
    max-width: 400px;
    margin: 0 auto;
}
.location-factors p {
    font-size: 15px;
    line-height: 24px;
}

.location-factors p a {
    color: #fff !important;
    text-decoration: underline;
}


/* NEW STYLES */
.new-page-section1 .new-row1-column.wpb_column {
    max-width: 830px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.new-page-section1 .new-row1-column h3 {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #666;
    letter-spacing: 0;
}

.new-benefits-section h3.forcePink:after {
    content: '';
    width: 60px;
    height: 2px;
    background-color: #ca0043;
    display: block !important;
    margin: 20px auto;
}

#ty-section1 .ty-col-top > .vc_column-inner {
    background-color: #ca0043;
    padding: 30px !important;
    text-align: center;
    color: #fff;
	justify-content: center;
}

#ty-section1 .ty-col-top p {
    font-size: 20px;
    line-height: 28px;
	color: #fff;
}

#hero-banner-row {
    min-height: 500px;
}

.vc_row.lp-quote-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vc_row.wpb_row.vc_row-fluid.lp-grid-section {
    padding-left: calc((100% - 1250px) /2 ) !important;
    padding-right: calc((100% - 1250px) /2 ) !important;
}

.icon-col-pods-inner {
    border: none !important;
}

.icon-col-pods.wpb_column > .vc_column-inner {
    border: 4px solid #cb0044;
    margin: 0 !important;
    padding: 20px !important;
}

.icon-col-pods h4 {
    font-size: 20px;
    line-height: 26px;
}

#how-icons-section {
    background-position: right center !important;
    background-size: 70% !important;
    background-color: #f4f4f4;
}

.vc_row.wpb_row.vc_inner.vc_row-fluid.icon-col-pods-inner {
    border: none !important;
}

#how-icons-section  .right-col-img.wpb_column {
    display: none !important;
}


@media only screen and (min-width: 1250px){
	.left-col-padding > .vc_column-inner {
		padding-left: calc((100% - 660px) /2 ) !important;
	}
	.right-col-padding > .vc_column-inner {
		padding-right: calc((100% - 660px) /2 ) !important;
	}
}


@media only screen and (max-width: 1750px){
	.location-factors span.btn-pink {
		min-height: 90px;
	}
}


@media only screen and (min-width: 1600px){
.background-space {
    height: 1000px;
}
}

@media only screen and (max-width: 1399px){
	.vc_row.wpb_row.vc_row-fluid.lp-grid-section {
		padding-left: calc((100% - 1050px) /2 ) !important;
		padding-right: calc((100% - 1050px) /2 ) !important;
	}
}




@media only screen and (min-width: 1025px){
	.single .edgtf-post-heading{
		margin-top: 60px;
	}
.page-template-template-no-header-no-footer .edgtf-content {margin-top: 0 !important;}

}
@media only screen and (max-width: 1024px){
.page-id-11151 .edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner {
    padding-top: 0px!important;
}
#mobile-widget {
    position: fixed;
    z-index: 999;
    bottom: -15px;
    background: #cb0044;
    padding: 9px 30px;
    border-radius: 7px 7px 0 0;
    font-weight: bold;
    left: 20px;
    display: block;
}
#mobile-widget a {
    color: #fff;
}
#mobile-widget .widget {
    margin: 0;
}
#mobile-widget a i {
    font-size: 20px;
    margin-right: 5px;
}	
	.services-location .vc_col-sm-3 {
		width: 50%;
		padding: 15px;
	}
	.vc_row.wpb_row.vc_row-fluid.lp-grid-section {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}

@media screen and (max-width: 768px){
	.vc_row.fullwidth-mobile,
	.fullwidth-mobile .vc_column-inner {
		padding: 0 !important;
	}
	#how-icons-section  .right-col-img.wpb_column {
		display: block !important;
	}


	#how-icons-section {
		background-image: none !important;
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
	#how-icons-section .vc_icon_element {
		margin-bottom: 0;
	}
	.testimonial-location .edgtf-testimonial-text-holder {
		max-width: 100%;
		text-align: center;
		padding: 0;
	}
	.vc_row.location-slider-portfolio {
		padding-bottom: 50px !important;
	}
	.location-portfolio .btn.btn-pink {
		display: block;
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		max-width: 300px;
		margin: 0 auto;
	}
	.mobile-padding > .vc_column-inner {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}
	.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-grid {
		padding: 40px 0 !important;
	}
}

	



@media only screen and (min-width: 767px){
	.vc_row .text-plus:after{
		content: '+';
		position: absolute;
		font-size: 105px;
		right: -31px;
		z-index: 6;
		line-height: 100%;
		font-family: myriad Pro;
		color: #ed135c;
		font-weight: bold;
		top: 31%;
		bottom: 0;
	}
	.location-factors .text-plus:after {
		display: none;
	}
}

@media handheld, only screen and (max-width: 767px){

.imgtxt-mobvw .vc_col-sm-6:first-child {
margin-top: 480px;
}
.imgtxt-mobvw .vc_col-sm-6:last-child {
position: absolute;
top:0;
}
.background-space {
    height: 300px;
}
.imgtxt-mobvw2 .vc_col-sm-6:first-child {
margin-top: 600px;
}
.imgtxt-mobvw2 .vc_col-sm-6:last-child {
position: absolute;
}
.text-big2 {
    font-size: 32px;
line-height: 36px;
}
.page-id-10683 .tp-bgimg.defaultimg {
    background-position-x: -631px !important;
}

.float-left, .float-right{float: none; text-align:center;}
	.services-location .vc_col-sm-3 {
		width: 100%;
		padding: 15px 0;
	}
	#hero-banner-row {
		min-height: 350px;
	}
	
	
}


@media only screen and (max-width: 496px){
.home .edgtf-slider .tp-bgimg.defaultimg, .page-id-10157 .edgtf-slider .tp-bgimg.defaultimg{    background-position-x: -140px !important;}
.page-id-10683 .tp-bgimg.defaultimg  {
    background-position-x: -900px !important;
}
.btn-big-pink {
    font-size: 14px;}

.nav-onesite a {
    padding: 5px;
}
	
	.page-template-template-no-header-no-footer .edgtf-row-grid-section {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		box-sizing: border-box;
	}

}
@media only screen and (max-width: 480px){
/*.edgtf-elements-holder .edgtf-eh-item .edgtf-eh-item-content {
    padding: 0 20px !important;
}*/
 	.home .edgtf-content .edgtf-row-grid-section {
		width: 100%;
	}
	.edgtf-content .edgtf-row-grid-section {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		box-sizing: border-box;
	}
	.edgtf-content .mobile-btn {
		width: 100%;
		max-width: 90%;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.new-benefits-section h2 {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.lp-main-section {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}